@import '../../css/variables.scss';

$cta: $map_medium_blue;
$c188: $map_dark_blue;
$psma: $map_light_blue;
$multiple: $map_gold;
$deselected: $medium_gray;

/* Highcharts overrides */
#pct-map {
    .highcharts-background {
        fill: $light_gray;
    }
    path {
        transition: fill 0.3s linear, stroke 0.3s linear, fill-opacity 0.3s linear;
        &:hover {
            //opacity:1;
            stroke: #000;
        }
        &.highcharts-point-hover {
            fill-opacity: 1;
        }
        // onload colors
        &.None {
            fill: #fff;
        }
        &.cta {
            fill: $cta;
            will-change:fill;
        }
        &.c188 {
            fill: $c188;
            will-change:fill;
        }
        &.psma, &.EU {
            fill: $psma;
            will-change:fill;
        }
        &.c188-cta {
            fill: $multiple;
            will-change:fill;
        }
        &.cta-psma, &.cta.EU {
            fill: $multiple;
            will-change:fill;
        }
        &.c188-psma, &.c188.EU {
            fill: $multiple;
            will-change:fill;
        }
        &.c188-cta-psma, &.c188-cta.EU {
            fill: $multiple;
            will-change:fill;
        }
    }
    .deselect-cta & {
        .cta {
            fill: $deselected;
        }
        .c188-cta {
            fill: $c188;
        }
        .cta-psma, .cta.EU {
            fill: $psma;
        }
    }
    .deselect-c188 & {
        .c188 {
            fill: $deselected;
        }
        .c188-cta {
            fill: $cta;
        }
        .c188-psma, .c188.EU {
            fill: $psma;
        }
    }
    .deselect-psma & {
        .psma, .EU.None {
            fill: $deselected;
        }
        .cta-psma, .cta.EU {
            fill: $cta;
        }
        .c188-psma, .c188.EU {
            fill: $c188;
        }
    }
    .deselect-cta.deselect-c188 & {
        .c188-cta {
            fill: $deselected;
        }
        .c188-cta-psma, .c188-cta.EU {
            fill: $psma;
        }
    }
    .deselect-cta.deselect-psma & {
        .cta-psma, .cta.EU {
            fill: $deselected;
        }
        .c188-cta-psma, .c188-cta.EU {
            fill: $c188;
        }
    }
    .deselect-c188.deselect-psma & {
        .c188-psma, .c188.EU {
            fill: $deselected;
        }
        .c188-cta-psma, .c188-cta.EU {
            fill: $cta;
        }
    }
    .deselect-cta.deselect-c188.deselect-psma & {
        path.highcharts-point:not(.None), path.highcharts-point.EU {
            fill: $deselected;
        }
    }

    .highcharts-tooltip {
        fill: #fff;
        stroke: #000;
        path {
            fill-opacity: .95;
            fill:#fff;
        }
    }
}

/*.psma {
    .disable-psma & {
        fill: $medium_gray;
    }
}
.highcharts-color-2 {
    fill: $map_medium_blue;
}
.highcharts-color-3 {
    fill: $c188;
}
.highcharts-color-4 {
    fill: $multiple;
}
.highcharts-color-5 {
    fill: $multiple;
}
.highcharts-color-6 {
    fill: $map_gold;
}
.c188-cta-psma, .c188-cta.EU {
    fill: $map_gold;
}*/