@import '@Project/css/_variables.scss';
.textBlock {
	h2 {
		text-align: center;
	}
    :global(.expand-text) {
       // position: absolute;
        height: 0;
        background-color: #fff;
        opacity: 0;
        transition: opacity 0.3s linear;
        z-index: 2;
        pointer-events: none;
        visibility:hidden;
        &.expanded {
            visibility: visible;
            height: auto;
            opacity: 0.9;
            pointer-events: all;
           
        }
    }
    :global(.read-more) {
        display: block;
    }
}