@import '@Project/css/_variables.scss';
.textBlock {
	h2 {
		text-align: center;
	}
    :global(.expand-text) {
        position: absolute;
        background-color: #fff;
        opacity: 0;
        transition: opacity 0.3s linear;
        z-index: 2;
        pointer-events: none;
        &.expanded {
            opacity: 1;
            pointer-events: all;
            @media screen and (max-width: 628px) {
            //    opacity: 1;
                height: 80vw;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                box-shadow: $box_shadow;
             }
        }
    }
    :global(.read-more) {
        display: block;
    }
}