@import '@Project/css/_variables.scss';

$cta: $map_medium_blue;
$c188: $map_dark_blue;
$psma: $map_light_blue;
$multiple: $map_gold;
$deselected: $medium_gray;

// .EU should behave like .psma for multiple coloring only, but not for psma coloring    
#pct-tiles-cont > li {

    background-color: $light_gray;
    color: #000;
    g.white path {
        fill:#fff !important;
        stroke: none !important;
    }
    svg#svgUSA g.white path {
        stroke: none !important;
       }
    path.white, path.stroke-white {
        stroke: #fff !important;
    }
    &.None {
        > p:first-child {
            border-left: 10px solid $deselected;
        }
    }
    &.cta {
        > p:first-child {
            border-left: 10px solid $cta;
        }
    }
    &.c188 {
        > p:first-child {
            border-left: 10px solid $c188;
        }
    }
    &.psma {
        > p:first-child {
            border-left: 10px solid $psma;
        }
    }
    &.c188-cta {
        > p:first-child {
            border-left: 10px solid $multiple;
        }
    }
    &.cta-psma, &.cta.EU {
        > p:first-child {
            border-left: 10px solid $multiple;
        }
    }
    &.c188-psma, &.c188.EU {
        > p:first-child {
            border-left: 10px solid $multiple;
        }
    }
    &.c188-cta-psma, &.c188-cta.EU {
        > p:first-child {
            border-left: 10px solid $multiple;
        }
    }
    .deselect-cta & {
        &.cta {
            > p:first-child {
                border-left: 10px solid $deselected;
            }
        }
        &.c188-cta {
            > p:first-child {
                border-left: 10px solid $c188;
            }
        }
        &.cta-psma {
            > p:first-child {
                border-left: 10px solid $psma;
            }
        }
    }
    .deselect-c188 & {
        &.c188 {
            > p:first-child {
                border-left: 10px solid $deselected;
            }
        }
        &.c188-cta {
            > p:first-child {
                border-left: 10px solid $cta;
            }
        }
        &.c188-psma {
            > p:first-child {
                border-left: 10px solid $psma;
            }
        }
    }
    .deselect-psma & {
        &.psma {
           > p:first-child {
               border-left: 10px solid $deselected;
           }
        }
        &.cta-psma, &.cta.EU {
            > p:first-child {
                border-left: 10px solid $cta;
            }
        }
        &.c188-psma, &.c188.EU {
            > p:first-child {
                border-left: 10px solid $c188;
            }
        }
    }
    .deselect-cta.deselect-c188 & {
        &.c188-cta {
            > p:first-child {
                border-left: 10px solid $deselected;
            }
        }
        &.c188-cta-psma {
            > p:first-child {
                border-left: 10px solid $psma;
            }
        }
    }
    .deselect-cta.deselect-psma & {
        &.cta-psma, &.cta.EU {
            > p:first-child {
                border-left: 10px solid $deselected;
            }
        }
        &.c188-cta-psma, &.c188-cta.EU {
            > p:first-child {
                border-left: 10px solid $c188;
            }
        }
    }
    .deselect-c188.deselect-psma & {
        &.c188-psma, &.c188.EU {
            > p:first-child {
                border-left: 10px solid $deselected;
            }
        }
        &.c188-cta-psma, &.c188-cta.EU {
            > p:first-child {
                border-left: 10px solid $cta;
            }
        }
    }
    .deselect-cta.deselect-c188.deselect-psma & {
        > p:first-child {
            border-left: 10px solid $deselected;
        }
    }
    @media screen and (min-width: 629px) {
        &.None {
            path:not(.white):not(.def) {
                &.lighter {
                    fill: lighten($deselected, 15%);
                    stroke:  lighten($deselected, 15%);
                }
                fill: $deselected;
                stroke:  $deselected;
            }
            > p:first-child, div.country-info {
                background-color: $deselected;
            }
        }

        &.cta {
            path:not(.white):not(.def) {
                &.lighter {
                    fill: lighten($cta, 15%);
                    stroke:  lighten($cta, 15%);
                }
                fill: $cta;
                stroke:  $cta;
            }
            > p:first-child, div.country-info {
                background-color: $cta;
            }
        }
        &.c188 {
            path:not(.white):not(.def) {
                &.lighter {
                    fill: lighten($c188, 15%);
                    stroke:  lighten($c188, 15%);
                }
                fill: $c188;
                stroke:  $c188;
            }
            > p:first-child, div.country-info {
                background-color: $c188;
            }
        }
        &.psma {
            path:not(.white):not(.def) {
                &.lighter {
                    fill: lighten($psma, 15%);
                    stroke:  lighten($psma, 15%);
                }
                fill: $psma;
                stroke:  $psma;
            }
            > p:first-child, div.country-info {
                background-color: $psma;
            }
        }
        &.c188-cta {
            path:not(.white):not(.def) {
                &.lighter {
                    fill: lighten($multiple, 15%);
                    stroke:  lighten($multiple, 15%);
                }
                fill: $multiple;
                stroke:  $multiple;
            }
            > p:first-child, div.country-info {
                background-color: $multiple;
            }
        }
        &.cta-psma, &.cta.EU {
            path:not(.white):not(.def) {
                &.lighter {
                    fill: lighten($multiple, 15%);
                    stroke:  lighten($multiple, 15%);
                }
                fill: $multiple;
                stroke:  $multiple;
            }
            > p:first-child, div.country-info {
                background-color: $multiple;
            }
        }
        &.c188-psma, &.c188.EU {
            path:not(.white):not(.def) {
                &.lighter {
                    fill: lighten($multiple, 15%);
                    stroke:  lighten($multiple, 15%);
                }
                fill: $multiple;
                stroke:  $multiple;
            }
            > p:first-child, div.country-info {
                background-color: $multiple;
            }
        }
        &.c188-cta-psma, &.c188-cta.EU {
            path:not(.white):not(.def) {
                &.lighter {
                    fill: lighten($multiple, 15%);
                    stroke:  lighten($multiple, 15%);
                }
                fill: $multiple;
                stroke:  $multiple;
            }
            > p:first-child, div.country-info {
                background-color: $multiple;
            }
        }
        .deselect-cta & {
            &.cta {
                path:not(.white):not(.def) {
                    &.lighter {
                        fill: lighten($deselected, 15%);
                        stroke:  lighten($deselected, 15%);
                    }
                    fill: $deselected;
                    stroke:  $deselected;
                }
                > p:first-child, div.country-info {
                    background-color: $deselected;
                }
            }
            &.c188-cta {
                path:not(.white):not(.def) {
                    &.lighter {
                        fill: lighten($c188, 15%);
                        stroke:  lighten($c188, 15%);
                    }
                    fill: $c188;
                    stroke:  $c188;
                }
                > p:first-child, div.country-info {
                    background-color: $c188;
                }
            }
            &.cta-psma {
                path:not(.white):not(.def) {
                    &.lighter {
                        fill: lighten($psma, 15%);
                        stroke:  lighten($psma, 15%);
                    }
                    fill: $psma;
                    stroke:  $psma;
                }
                > p:first-child, div.country-info {
                    background-color: $psma;
                }
            }
        }
        .deselect-c188 & {
            &.c188 {
                path:not(.white):not(.def) {
                    &.lighter {
                        fill: lighten($deselected, 15%);
                        stroke:  lighten($deselected, 15%);
                    }
                    fill: $deselected;
                    stroke:  $deselected;
                }
                > p:first-child, div.country-info {
                    background-color: $deselected;
                }
            }
            &.c188-cta {
                path:not(.white):not(.def) {
                    &.lighter {
                        fill: lighten($cta, 15%);
                        stroke:  lighten($cta, 15%);
                    }
                    fill: $cta;
                    stroke:  $cta;
                }
                > p:first-child, div.country-info {
                    background-color: $cta;
                }
            }
            &.c188-psma {
                path:not(.white):not(.def) {
                    &.lighter {
                        fill: lighten($psma, 15%);
                        stroke:  lighten($psma, 15%);
                    }
                    fill: $psma;
                    stroke:  $psma;
                }
                > p:first-child, div.country-info {
                    background-color: $psma;
                }
            }
        }
        .deselect-psma & {
            &.psma {
               path:not(.white):not(.def) {
                &.lighter {
                    fill: lighten($deselected, 15%);
                    stroke:  lighten($deselected, 15%);
                }
                fill: $deselected;
                stroke:  $deselected;
               }
               > p:first-child, div.country-info {
                   background-color: $deselected;
               }
            }
            &.cta-psma, &.cta.EU {
                path:not(.white):not(.def) {
                    &.lighter {
                        fill: lighten($cta, 15%);
                        stroke:  lighten($cta, 15%);
                    }
                    fill: $cta;
                    stroke:  $cta;
                }
                > p:first-child, div.country-info {
                    background-color: $cta;
                }
            }
            &.c188-psma, &.c188.EU {
                path:not(.white):not(.def) {
                    &.lighter {
                        fill: lighten($c188, 15%);
                        stroke:  lighten($c188, 15%);
                    }
                    fill: $c188;
                    stroke:  $c188;
                }
                > p:first-child, div.country-info {
                    background-color: $c188;
                }
            }
        }
        .deselect-cta.deselect-c188 & {
            &.c188-cta {
                path:not(.white):not(.def) {
                    &.lighter {
                        fill: lighten($deselected, 15%);
                        stroke:  lighten($deselected, 15%);
                    }
                    fill: $deselected;
                    stroke:  $deselected;
                }
                > p:first-child, div.country-info {
                    background-color: $deselected;
                }
            }
            &.c188-cta-psma {
                path:not(.white):not(.def) {
                    &.lighter {
                        fill: lighten($psma, 15%);
                        stroke:  lighten($psma, 15%);
                    }
                    fill: $psma;
                    stroke:  $psma;
                }
                > p:first-child, div.country-info {
                    background-color: $psma;
                }
            }
        }
        .deselect-cta.deselect-psma & {
            &.cta-psma, &.cta.EU {
                path:not(.white):not(.def) {
                    &.lighter {
                        fill: lighten($deselected, 15%);
                        stroke: lighten($deselected, 15%);
                    }
                    fill: $deselected;
                    stroke: $deselected;
                }
                > p:first-child, div.country-info {
                    background-color: $deselected;
                }
            }
            &.c188-cta-psma, &.c188-cta.EU {
                path:not(.white):not(.def) {
                    &.lighter {
                        fill: lighten($c188, 15%);
                        stroke: lighten($c188, 15%);
                    }
                    fill: $c188;
                    stroke: $c188;
                }
                > p:first-child, div.country-info {
                    background-color: $c188;
                }
            }
        }
        .deselect-c188.deselect-psma & {
            &.c188-psma, &.c188.EU {
                path:not(.white):not(.def) {
                    &.lighter {
                        fill: lighten($deselected, 15%);
                        stroke: lighten($deselected, 15%);
                    }
                    fill: $deselected;
                    stroke: $deselected;
                }
                > p:first-child, div.country-info {
                    background-color: $deselected;
                }
            }
            &.c188-cta-psma, &.c188-cta.EU {
                path:not(.white):not(.def) {
                    &.lighter {
                        fill: lighten($cta, 15%);
                        stroke: lighten($cta, 15%);
                    }
                    fill: $cta;
                    stroke: $cta;
                }
                > p:first-child, div.country-info {
                    background-color: $cta;
                }
            }
        }
        .deselect-cta.deselect-c188.deselect-psma & {
            path:not(.white):not(.def) {
                &.lighter {
                    fill: lighten($deselected, 15%);
                    stroke: lighten($deselected, 15%);
                }
                fill: $deselected;
                stroke: $deselected;
            }
            > p:first-child, div.country-info {
                background-color: $deselected;
            }
        }
    }
}