@import '@Project/css/_variables.scss';

$cta: $map_medium_blue;
$c188: $map_dark_blue;
$psma: $map_light_blue;
$multiple: $map_gold;
$deselected: $medium_gray;

    
#pct-tiles-cont > div {
    background-color: $light_gray;
    color: #000;
    &.None {
        > div:first-child {
            border-left: 10px solid $deselected;
        }
    }
    &.cta {
        > div:first-child {
            border-left: 10px solid $cta;
        }
    }
    &.c188 {
        > div:first-child {
            border-left: 10px solid $c188;
        }
    }
    &.psma {
        > div:first-child {
            border-left: 10px solid $psma;
        }
    }
    &.c188-cta {
        > div:first-child {
            border-left: 10px solid $multiple;
        }
    }
    &.cta-psma {
        > div:first-child {
            border-left: 10px solid $multiple;
        }
    }
    &.c188-psma {
        > div:first-child {
            border-left: 10px solid $multiple;
        }
    }
    &.c188-cta-psma {
        > div:first-child {
            border-left: 10px solid $multiple;
        }
    }
    .deselect-cta & {
        &.cta {
            > div:first-child {
                border-left: 10px solid $deselected;
            }
        }
        &.c188-cta {
            > div:first-child {
                border-left: 10px solid $c188;
            }
        }
        &.cta-psma {
            > div:first-child {
                border-left: 10px solid $psma;
            }
        }
    }
    .deselect-c188 & {
        &.c188 {
            > div:first-child {
                border-left: 10px solid $deselected;
            }
        }
        &.c188-cta {
            > div:first-child {
                border-left: 10px solid $cta;
            }
        }
        &.c188-psma {
            > div:first-child {
                border-left: 10px solid $psma;
            }
        }
    }
    .deselect-psma & {
        &.psma {
           > div:first-child {
               border-left: 10px solid $deselected;
           }
        }
        &.cta-psma {
            > div:first-child {
                border-left: 10px solid $cta;
            }
        }
        &.c188-psma {
            > div:first-child {
                border-left: 10px solid $c188;
            }
        }
    }
    .deselect-cta.deselect-c188 & {
        &.c188-cta {
            > div:first-child {
                border-left: 10px solid $deselected;
            }
        }
        &.c188-cta-psma {
            > div:first-child {
                border-left: 10px solid $psma;
            }
        }
    }
    .deselect-cta.deselect-psma & {
        &.cta-psma {
            > div:first-child {
                border-left: 10px solid $deselected;
            }
        }
        &.c188-cta-psma {
            > div:first-child {
                border-left: 10px solid $c188;
            }
        }
    }
    .deselect-c188.deselect-psma & {
        &.c188-psma {
            > div:first-child {
                border-left: 10px solid $deselected;
            }
        }
        &.c188-cta-psma {
            > div:first-child {
                border-left: 10px solid $cta;
            }
        }
    }
    .deselect-cta.deselect-c188.deselect-psma & {
        > div:first-child {
            border-left: 10px solid $deselected;
        }
    }
    @media screen and (min-width: 629px) {
        &.None {
            path {
                fill: $deselected;
            }
            > div:first-child, div.country-info {
                background-color: $deselected;
            }
        }

        &.cta {
            path {
                fill: $cta;
            }
            > div:first-child, div.country-info {
                background-color: $cta;
            }
        }
        &.c188 {
            path {
                fill: $c188;
            }
            > div:first-child, div.country-info {
                background-color: $c188;
            }
        }
        &.psma {
            path {
                fill: $psma;
            }
            > div:first-child, div.country-info {
                background-color: $psma;
            }
        }
        &.c188-cta {
            path {
                fill: $multiple;
            }
            > div:first-child, div.country-info {
                background-color: $multiple;
            }
        }
        &.cta-psma {
            path {
                fill: $multiple;
            }
            > div:first-child, div.country-info {
                background-color: $multiple;
            }
        }
        &.c188-psma {
            path {
                fill: $multiple;
            }
            > div:first-child, div.country-info {
                background-color: $multiple;
            }
        }
        &.c188-cta-psma {
            path {
                fill: $multiple;
            }
            > div:first-child, div.country-info {
                background-color: $multiple;
            }
        }
        .deselect-cta & {
            &.cta {
                path {
                    fill: $deselected;
                }
                > div:first-child, div.country-info {
                    background-color: $deselected;
                }
            }
            &.c188-cta {
                path {
                    fill: $c188;
                }
                > div:first-child, div.country-info {
                    background-color: $c188;
                }
            }
            &.cta-psma {
                path {
                    fill: $psma;
                }
                > div:first-child, div.country-info {
                    background-color: $psma;
                }
            }
        }
        .deselect-c188 & {
            &.c188 {
                path {
                    fill: $deselected;
                }
                > div:first-child, div.country-info {
                    background-color: $deselected;
                }
            }
            &.c188-cta {
                path {
                    fill: $cta;
                }
                > div:first-child, div.country-info {
                    background-color: $cta;
                }
            }
            &.c188-psma {
                path {
                    fill: $psma;
                }
                > div:first-child, div.country-info {
                    background-color: $psma;
                }
            }
        }
        .deselect-psma & {
            &.psma {
               path {
                fill: $deselected;
               }
               > div:first-child, div.country-info {
                   background-color: $deselected;
               }
            }
            &.cta-psma {
                path {
                    fill: $cta;
                }
                > div:first-child, div.country-info {
                    background-color: $cta;
                }
            }
            &.c188-psma {
                path {
                    fill: $c188;
                }
                > div:first-child, div.country-info {
                    background-color: $c188;
                }
            }
        }
        .deselect-cta.deselect-c188 & {
            &.c188-cta {
                path {
                    fill: $deselected;
                }
                > div:first-child, div.country-info {
                    background-color: $deselected;
                }
            }
            &.c188-cta-psma {
                path {
                    fill: $psma;
                }
                > div:first-child, div.country-info {
                    background-color: $psma;
                }
            }
        }
        .deselect-cta.deselect-psma & {
            &.cta-psma {
                path {
                    fill: $deselected;
                }
                > div:first-child, div.country-info {
                    background-color: $deselected;
                }
            }
            &.c188-cta-psma {
                path {
                    fill: $c188;
                }
                > div:first-child, div.country-info {
                    background-color: $c188;
                }
            }
        }
        .deselect-c188.deselect-psma & {
            &.c188-psma {
                path {
                    fill: $deselected;
                }
                > div:first-child, div.country-info {
                    background-color: $deselected;
                }
            }
            &.c188-cta-psma {
                path {
                    fill: $cta;
                }
                > div:first-child, div.country-info {
                    background-color: $cta;
                }
            }
        }
        .deselect-cta.deselect-c188.deselect-psma & {
            path {
                fill: $deselected;
            }
            > div:first-child, div.country-info {
                background-color: $deselected;
            }
        }
    }
}