@import '@Project/css/_variables.scss';
$dimensions: 195;
$margin: 2;
$title_height: 30;
$slide_transition: transform 0.3s ease-in-out 0.3s;

.countryTile {
    //max-width: 260px;
    width: #{$dimensions}px;
    height: #{$dimensions}px;
    margin-right: #{$margin}px;
    margin-bottom: #{$margin}px;
    position: relative;
    transition: background-color 0.3s linear, opacity 0.3s linear;
    opacity: 1;
    will-change: background-color;
    overflow: hidden;
    cursor:pointer;
    .svgWrapper {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: #{$dimensions}px;
        transition: $slide_transition;
    }
    .countryInfo {
        width: 100%;
        height: #{$dimensions - $title_height - $margin}px;
        transition: $slide_transition;
        color:#fff;
        padding: 10px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
        p {
            line-height: 100%;
            margin-bottom: 0.5em;
            font-size: 0.9em;
            letter-spacing: .5px;
            &:last-child {
                margin-bottom: 1em;
            }
        }
    }
    &:hover, &.selected {
        .svgWrapper, .countryInfo {
            transform: translateY(-#{$dimensions - 1}px);
        }
    }
    @media screen and (max-width: 825px) {
        max-width: calc(33%);
    }
    @media screen and (max-width: 628px) {
        max-width: none;
    }
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: 0;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
        transition: opacity 0.2s ease-in-out;
    }
    &.animating {
        //z-index:2;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.42);
        &::after {
            opacity: 1;
        }
    }
    &.shouldDisappear {
        opacity: 0;
    }
    div.tileName {
        position: absolute;
        bottom: 0;
        color: #fff;
        text-align: center;
        width: 100%;
        height: #{$title_height}px;
        font-weight: bold;
        padding:5px;
        z-index: 2;    

    }
    svg {
        bottom: 15px;
        position: relative;
    }
    path {
        will-change: fill;
        transition: fill 0.3s linear;
    }
    
}