@import 'variables.scss';

.message {
  color: $red;
}
.wireframe {
    border: 1px solid magenta;
}
.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.sb {
    justify-content: space-between;
}
.grow {
    flex-grow:1;
}
.pctBtn {
    outline-color: transparent;
    color: #fff;
    padding:6px;
    background-color: $light_gray;
    border-color: $light_gray;
    color:#000;
}
