@import '../../css/variables.scss';

.selectionView {
    position: relative;
    legend, label {
        margin-bottom: 12px;
        display: block;
    }
    legend {
        font-size: 1.2em;
        font-weight: bold;
        text-align:center;
    }
    fieldset {
        margin: 0;
        padding: 0;
        border:none;
    }
    .buttonGroupContainer {
        position: relative;
        .buttonGroup {
            width:32.5%;
            display: flex;
            flex-direction: column;
            &:last-child button {
        
                &::after {
                    content: '';
                    width: 14px;
                    height: 14px;
                    background-color: $map_gold;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 240px; 
                    @media screen and (min-width: 629px) {
                        top: 60px;
                    }
                }
                &::before {
                    content: 'party to more than one agreement';
                    position: absolute;
                    left: 0;
                    color: #000;
                    padding-left: 18px;
                    top: 238px; 
                    font-weight: normal;
                    pointer-events: none;
                    font-size:0.9em;
                    @media screen and (min-width: 629px) {
                        top: 59px;
                    }
                }

            } 
            @media screen and (max-width: 628px){
                width: 100%;
                flex-direction: row;
                margin-bottom: 1em;
                flex-wrap:wrap;
                > div {
                    margin-top: 24px;
                }
            }
        }
        @media screen and (max-width: 628px) {
        margin-bottom: 35px;
        }
    }
}