.searchDiv {
    margin: 24px 0;
}
.searchContainer {
    margin-right: 12px;
    input {
        margin-right: 1px;
        height: 50px;
    }
}
.clearSearch {
    width: 200px;
}
.submitSearch {
    width: 50px;
}

// multiselect
.hideOption {
    display:none !important;
}