@import '@Project/css/_variables.scss';
.searchDiv {
    margin: 0 0 24px;
}
.searchContainer {
    position: relative;
    max-width: 81%;
    margin-right: 9px;
    height: 33px;

    input {
        margin-right: 1px;
        height: 50px;
    }
    :global(.selectr-placeholder){
        color: #000;
    }
    :global(.selectr-container){
        margin-right: 0px;
        height: 33px;
        background-color: $light_gray;
        //max-width: calc(100% - 52px);
        &:global(.open) {
             box-shadow: $box_shadow;
        }
    }
    :global(.selectr-options) {
        max-height: 210px;
    }
    :global(.selectr-selected) {
        border: none;
        border-radius: 0;
        background-color: $light_gray;
        height: 33px;
        overflow-x: hidden;
        overflow-y:hidden;
        position: relative;
        
    }
    :global(.selectr-input) {
        box-sizing: border-box;
    }
    :global(.selectr-options-container) {
        background-color: $light_gray;
        border:none;
        box-shadow: $box_shadow;
    }
    :global(ul.selectr-tags){ 
        display: flex;
        overflow: hidden;
        background-color: $light_gray;
        width: calc(100% - 65px);
        left: -5px;
        top: 3px;
        position: relative;
        flex-wrap: wrap;
        //height: 23px;
    }
    :global(.selectr-tag){
        background: none;
        color:#000;
        font-size: 12px;
        padding: 2px 2px 2px 18px;
        margin-right: 0;
        margin-bottom: 5px;
        flex-shrink: 0;
        line-height: 125%;
        top:1px;
    }
    :global(.selectr-tag-remove) {
        left: 0;
        top: 11px;
        width: 100%;
        background: url('@Project/assets/x-out.svg') no-repeat 5px 2px;
    }
    :global(.selectr-tag-remove::before), :global(.selectr-tag-remove::after) {
        transform: none;
        background: none;
        content:'';
        border: none;
    }
    :global(.selectr-option){
        //padding-top: 0;
        //padding-bottom: 0;
        margin-bottom: 0;
    }
}
 .showAllSelected {
        border-width:0;
        box-sizing: border-box;
        width: 82px;
        height: 33px;
        position: absolute;
        font-size: 12px;
        bottom: 0px;
        right: 26px;
        z-index: 1;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out;
        .oversetCount {
            opacity: 1;
            transition: opacity 0.2s ease-in-out;
        }
        &.isPressed {
            .oversetCount {
                opacity: 0;
            }
        }
        :global(.tag-overflow) & {
            opacity: 1;
            pointer-events: all;
        }

    }
.searchDiv.revealOverflowTags {
    :global(ul.selectr-tags){ 
        flex-wrap: wrap;
        box-shadow: $box_shadow;
    }
    :global(.selectr-selected){ 
        overflow-x:visible;
        overflow-y: visible;
    }
    .searchContainer {
        box-shadow: $box_shadow;
    }
}
.clearSearch {
    width: 19%;
}
// multiselect
.hideOption {
    color:$medium_gray;
}