@import '../../css/variables.scss';

$cta: $map_medium_blue;
$ilo: $map_dark_blue;
$psma: $map_light_blue;
$multiple: $map_gold;
$deselected: $medium_gray;

.ratifiedView {
  width: 100%;
  max-width: 260px;
  height: 70px;
  margin: 48px auto;
  display: flex;
  align-items: center;
  border: 1px solid $deselected;
  > div {
    width: 50%;
    height: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13px;
    &.invert {
      color: #fff;
      background-color: $dark_gray;
      > span:first-child {
        font-weight: normal;
      }
      .treatyStatus {
        color: #fff;
      }
    }
    &:first-child {
        border-right: 1px solid $deselected;
    }
    > span {
        font-weight: bold;
        text-align:center;
    }
  }
  &.cta {
    border-color: $cta;
    > div {
      &:first-child {
        border-right-color: $cta;
      }
    }
    .numberRatified, .treatyStatus {
      color: $cta;
    }
  }
  &.ilo {
    border-color: $ilo;
    > div {
      &:first-child {
        border-right-color: $ilo;
      }
    }
    .numberRatified, .treatyStatus {
      color: $ilo;
    }
  }
  &.psma {
    border-color: $psma;
    > div {
      &:first-child {
        border-right-color: $psma;
      }
    }
    .numberRatified, .treatyStatus {
      color: $psma;
    }
  }
  @media screen and (max-width: 628px){
    width: 100%;
    max-width: none;
    margin: 0;
    margin-top: 0 !important;
    height: 30px;
    //border-color: transparent !important;
    > div {
      //border-color: transparent !important;
     
      height: 28px;
      font-size: 0.8em;
      flex-direction: row;
      padding: 0 10px;

      //justify-content: space-around;
      > span {
        width: 40%;
        &:first-child {
          width: 60%
        }
      }
      span:first-child {
        order: 2;
      }

      
    }
  }
  
}